
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Q C L S</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/assets/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header col-md-6">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="/assets/logo.png" alt=""></a>
        <span>Quality Comfort Living Services LLC</span>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                       <img src="/assets/icon1.png" alt="">Save
                    </a>
                   
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        <img src="/assets/icon2.png" alt="">Print
                    </a>
                   
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                         <img src="/assets/icon3.png" alt="">Save As PDF
                    </a>
                   
                    <!-- /.dropdown-alerts -->
                </li>
           
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
          <li>
                            <a href="javascript:;"><img src="/assets/left_icon1.png" alt=""> Settings</a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="/assets/left_icon2.png" alt=""> Individual</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="javascript:;">Individuals</a>
                                </li>
                </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="/assets/left_icon3.png" alt=""> eDoc Suite</a>
              <ul class="nav nav-second-level">
                                <li>
                                    <a href="javascript:;">ISP/BSP Training</a>
                                </li>
                                <li>
                                  <a href="/individual/form2">Monthly Service</a>
                                </li>
                                </li>
                                <li>
                                  <a href="javascript:;">Monthly Bihaviour</a>
                                </li>
                                <li>
                                  <a href="javascript:;">Medication</a>
                                </li>
                                <li>
                                  <a href="javascript:;">Administration Record</a>
                                </li>
                                <li>
                                  <a href="javascript:;">Medication Count</a>
                                </li>
                               
                </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="/assets/left_icon4.png" alt=""> Folders</a>
                        </li>
                        <li>
                            <a href=""><img src="/assets/left_icon5.png" alt=""> Calendars</a>
                      
                        </li>
                        <li>
                            <a href="javascript:;"><img src="/assets/left_icon6.png" alt=""> Help and Support</a>
                     
                        </li>
                      <li>
                            <a href="javascript:;"><img src="/assets/left_icon7.png" alt=""> Logout</a>
                       
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
      <form class="fromlist">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
  <input type="email" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Medicaid">
  </div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Location of Services">
  </div>

  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
    <select class="form-control">
  <option>Type of Services</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Provider Contrach #">
  </div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 medicaldics">HPC Services Provided</div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">

  <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Path to Employment">
  </div>
<div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Staff Assistance">
  </div>
  <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist with learning work">
  </div>
   <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist developing skills">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assistance with cooking planning">
  </div>
      <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assistance with cooking Lunch">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assistance with Snack">
  </div>
      <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist with household chores">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist to stay on task">
  </div>
      <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Leisure Activities which he loves">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist with leaning to budget money">
  </div>
      <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Give individual his $5 for friday">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist with household maintenance">
  </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">

  <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Self Administered Medication">
  </div>
<div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Provided Supervision">
  </div>
  <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist coping skills">
  </div>
   <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist maintaining diet control">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assistance with cooking breakfast">
  </div>
      <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assistance with cooking dinner">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Leisure Activities">
  </div>
      <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist with laundry">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Provide Assist with reminding to shower">
  </div>
      <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Encourage to work for his own money">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist with shopping">
  </div>
      <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Assist with laccessing the community">
  </div>
     <div class="form-group calendaricon">
    <input type="text" class="form-control" placeholder="Night On Site On Call">
  </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 medicaldics">Locations where other services were provided</div>
  <div class="col-md-4 col-sm-4 col-lg-4">
     <div class="form-group">
    <input type="text" class="form-control" placeholder="Location">
  </div>
   <div class="form-group">
    <input type="text" class="form-control" placeholder="Location">
  </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Location">
  </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Location">
  </div>
  </div>
  <div class="col-md-4 col-sm-4 col-lg-4">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Initials">
  </div>
      <div class="form-group">
    <input type="text" class="form-control" placeholder="Initials">
  </div>
      <div class="form-group">
    <input type="text" class="form-control" placeholder="Initials">
  </div>
      <div class="form-group">
    <input type="text" class="form-control" placeholder="Initials">
  </div>
  </div>
  <div class="col-md-4 col-sm-4 col-lg-4">
       <div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
     <div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
     <div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
     <div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 addfilds"><img src="/assets/plus_icon.png" alt="">Add Fields ( 2 )</div>
  <div class="col-md-8 col-sm-8 col-lg-8">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Any Changes In services , new behaviour/medical issues or anything else">
  </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Any Changes In services , new behaviour/medical issues or anything else">
  </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Any Changes In services , new behaviour/medical issues or anything else">
  </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Any Changes In services , new behaviour/medical issues or anything else">
  </div>
  </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
   <div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
   <div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
   <div class="form-group">
    <input type="text" class="form-control" placeholder="Date">
  </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 addfilds"><img src="/assets/plus_icon.png" alt="">Add Fields ( 2 )</div>
  <div class="col-md-6 col-sm-6 col-lg-6">
  <div class="form-group plusinput">
    <input class="form-control" placeholder="Signature" type="text">
  </div>
    <div class="form-group plusinput">
    <input class="form-control" placeholder="Signature" type="text">
  </div>
    <div class="form-group plusinput">
    <input class="form-control" placeholder="Signature" type="text">
  </div>
    <div class="form-group plusinput">
    <input class="form-control" placeholder="Signature" type="text">
  </div>
  </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
  <div class="form-group">
    <input class="form-control" placeholder="Initials" type="text">
  </div>
    <div class="form-group">
    <input class="form-control" placeholder="Initials" type="text">
  </div>
    <div class="form-group">
    <input class="form-control" placeholder="Initials" type="text">
  </div>
    <div class="form-group">
    <input class="form-control" placeholder="Initials" type="text">
  </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 addfilds"><img src="/assets/plus_icon.png" alt="">Add Fields ( 2 )</div>
  <p>&nbsp;</p>
  <div class="col-md-12 col-sm-12 savebut">
  <button type="submit" class="btn btn-default">Add New Section</button>
  </div>
</form>
          
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/js/metisMenu.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/sb-admin-2.js"></script>

</body>

</html>
